:root{
    
}
*{
    box-sizing: border-box;
    margin: 0;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
}

/*==========================
Navigation
===========================*/
nav{
    background-color: #1f2937;
    color: white;
    position: fixed;
    width: 100%;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    margin: auto;

}
.logo{
    padding: 10px 0;
    font-size: 1.4em;
}
.nav-container ul{
    display: flex;
    margin: 0;
    list-style: none;
}
.nav-container ul li{
    padding: 10px;
    
}
.nav-container ul a{
    color: white;
    text-decoration: none;
}

/*===========================
Shared Styles
=============================*/
/* Typography */

h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
    color: #f9faf8;
    margin-bottom: 28px;
}
h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 1.2;
}
h3{
    font-size: 20px;
    margin-bottom: 8px;
}
p{
    margin-bottom: 8px;
    line-height: 1.6;
}

/* Sections and Containers - main layout sctucture*/

section{
    padding: 60px 0;
}
.dark-background{
    background-color: #1f2937;
}
.container{
    width: 1080px;
    margin: auto;
}
.two-column{
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 80px;
}
.two-column > div{
    flex: 1 1 50%;
}
.two-column .column-auto{
    flex: 0 1 auto;
    flex-wrap: nowrap;
}


/* Content Blocks - basic content layout */

.cont-header{
    margin-bottom: 20px;
    width: 100%;
}
.cont-header-centered{
    text-align: center;
}

/* Buttons */

.btn-container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: white;
    flex: 0 0 auto;
    margin: 10px 0;
    padding: 0.5em 1em;
    background-color: #3882f6;
    border-radius: 8px;
}
.btn-outlined{
    background-color: transparent;
    border: 2px solid rgb(146, 27, 87);
}
.btn-outlined.btn-light{
    border: 2px solid rgb(255, 255, 255);

}


/* Cards */
.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 10px;
}
.card img{
    aspect-ratio: 1/1;
    border: 1px solid grey;
    border-radius: 16px;
    margin-bottom: 15px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}


/*===========================
Hero Section
=============================*/
.hero-section{
    padding-top: 100px; 
    color: white;
}
.hero-section p{
    font-size: 18px;
    color: #e5e7eb;
}
.hero-section img{
    border-radius: 12px;
}

/*===========================
Featured Section
=============================*/

.featured-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.featured-items.four-items .featured-item{
    flex: 1 1 calc(25% - 20px);
}

/*===========================
Quote Section
=============================*/
.quote-section{
    background-color: #e5e7eb;
    padding: 120px 0;
}
.quote-content{
    width: 620px;
    margin: auto;
    text-align: right;
}
.quote-copy{
    display: block;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: left;
}

/*===========================
CTA Card
=============================*/

.cta-card{
    background-color: #3882f6;
    color: white;
    padding: 40px 60px;
    border-radius: 12px;
}
.cta-card h2{
    color: white;
}

/*===========================
Footer
=============================*/
footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 226);
    padding: 20px;
}